<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:windowSoftInputMode="adjustResize">
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<application android:label="TransportHub" android:icon="@mipmap/icon" />
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="33" />
</manifest>
