target
backend/config.json
/ConsoleFrontend/.vs/ConsoleFrontend
/ConsoleFrontend/ConsoleFrontend/bin/Debug/net7.0
/ConsoleFrontend/ConsoleFrontend/obj
/Frontend/Frontend/BuildAppExtensions.cs
/backend/.vs
/Dashboard/.vs/Dashboard
/Dashboard/Dashboard/bin/Debug/net7.0
/Dashboard/Dashboard/obj
/backend/config.postgres copy.json
/backend/transporthub.db
